/* The <body> element has to be styled with: */
body {
    color: rgb(0, 0, 0);
    justify-content: center;
    font-size: 16px;
    font-family: sans-serif;
    margin: 0 px;
    background-image: url("../assets/image/Geo Tabletop Dice - Small.jpg");
}

/*  Style the <div> element with class “container” (it’s the main division that contains the entire HTML elements inside the body): */
.container {
    width: 950px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: aliceblue;
}

/*Style any element with class value of “content”, in other word target the class named “content”:*/
.content {
    padding: 10px;
    line-height: 1.4 em;
}

/*Style the “header,
nav,
and footer” elements to share the following: a. Any Dark/Light background colour b. Any Dark/Light foreground colour (normal font colour)*/
header,
nav,
footer {
    color: rgb(0, 0, 0);
    background-color: aliceblue;
}

ul {
    margin-top: 10px;
    margin-left: 30px;
    padding: 2px;
}



/*Style the list items <li> of the main navigation (nav), or inside the nav element:*/
#main-nav {
    background-color: #ffffff;
}

#main-nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    margin: 10px;
}


#main-nav li {
    display: inline-block;
    margin-right: 40 px;
}

#main-nav li :link {
    color: rgb(0, 0, 0);
}

#main-nav li :visited {
    color: rgb(51, 51, 51);
}

#main-nav li :hover {
    background-color: black;
    color: aliceblue;
    transition: all 0.5s;
    box-shadow: 0 0 0 10px #000000;
}

#main-nav li :active {
    color: rgb(31, 81, 125);
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* 10. Style the three headings: h1, h2, and h3: a. To have margin of 10px for all the sides b. With Uppercase letterss */
h1,
h2,
h3,
h4 {
    margin: 10px;
    text-transform: uppercase;
}

/* c. Different dark/light colour */
h1 {
    color: rgb(23, 23, 23);

}

h2 {
    color: rgb(59, 59, 59);

}

h3 {
    color: rgb(94, 94, 94);

}

/* 11. Style the custom class named “img-centre”: a. Centre the image horizontally (Hint: don’t forget that <img> is an inline element so you will need to make it block level element first in order to have it to work with margins) b. Having margin of 5px from the top and bottom c. Having padding of 2px to all the sides */
#img-centre {
    display: block;
    margin: 5px auto;
    padding: 2px;
    width: 90;
    height: auto;
}

/*12. Style the <audio>and <video>elements: a. Centre any audio or video element (horizontally) [Don’t forget that video/audio are both inline elements] b. With margin of 10px from the top and bottom*/
audio {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 850 px;
}

video {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 850 px;
}

/*13. Style any <table>element: a. The width is 800px b. Centre the table horizontally with 10px of margining from the top and bottom sides c. The table border has to be collapsed*/
table {
    width: 800px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;
}

/*14. Style both the <td>and <th>element of any table: a. Having a border with any settings you like b. Padding of 2px from the top/bottom and 5px from the left/right c. Any background colour (light/dark)*/
td,
th {
    border: 2px solid rgb(0, 0, 0);
    padding: 2px 5px;
    background-color: rgb(255, 255, 255);
}

/*15. Style both the <th>inside any table and the <td>inside the <tfoot>: a. With Uppercase letters b. Any background colour (dark/light) c. Any colour (dark/light)*/
table th,
tfoot td {
    text-transform: uppercase;
    background-color: #242424;
    color: #ffffff;
}

/*16. Style any <dt>element: a. Make it bold*/
td {
    font-weight: bold;
}

/*17. Style any <footer>element: a. Change the font size to be 80% of the default font size or of the font size of the body b. Align your text to the centre of the table c. Add 1px of padding from the top/bottom and 0 from the right/left*/
footer {
    font-size: 80%;
    text-align: center;
    padding: 1 px 0 px;
}

/*18. Style any <iframe>element: a. Add margin of 10px for top/bottom b. Centre the iframe horizontally*/
iframe {
    display: block;
    margin: 10px auto;
}

/*19. Style any <fieldset>element: a. Add width of 500px b. Add margin of 20px for top/bottom and centre the fieldset horizontally c. Add border with any style you prefer d. Add background colour*/

fieldset {
    width: 500px;
    margin: 20px auto;
    border: 2px solid #333;
    background-color: #f0f0f0;
}

/*20. Style any <legend>element: a. Italic font style b. Different front and background colour c. Margin of 0 from the top/bottom and 10px from the left/right d. Padding of 0 from top/bottom and 5px from the left/right e. Give it a rounded border with any size or setting you prefer*/
legend {
    font-style: italic;
    color: #ffffff;
    background-color: #242424;
    margin: 0px 10px 0px 10px;
    padding: 0px 5px;
    border: 2px solid #666;
    border-radius: 10px;
    display: inline-block;
}

/*21. Style the <input>element that has an attribute named “type” with value of “submit”: a. Border with any style you like b. Padding of 5px for all the sides c. Any background colour you prefer d. Any colour you prefer*/
button[type="submit"] {
    border: 2px solid #333;
    padding: 5px;
    background-color: #f0f0f0;
    color: #333;
    border: 2px solid #666;
    border-radius: 10px;
    display: inline-block;
}

/*22. Style the same <input>element that has an attribute named “type” with value of “submit” but with the pseudo class for the hover state (when you hover the mouse over the element): a. Change its text colour and its background colour b. Change the mouse pointer to look like a hand (the normal mouse icon for a link):*/
button[type="submit"]:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border: 2px solid #666;
    border-radius: 10px;
    display: inline-block;
}
